.cardDisplay {
    text-align: center;
    margin: auto;
}

.custom-button{
    background-color:  #00a1cf;
    border-color:none;
    outline: none !important;
    border: none !important;
  }
  
  .custom-button:focus {
    outline: none !important;
    border: none !important;
  }