<div class="container">
	<div class="row">
		<h1 class="text-left col-md-6 titlebar">{{ title }}</h1>
		<h6 class="text-right col-md-6 titlebar-btn"><a class="btn btn-primary custom-button" href="javascript:void(0)" routerLink="/Create-Contact">+ New Contact</a></h6>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<table class="table table-striped">
				<thead>
					<th>#Sno</th>
					<th style="width:10%;">First Name</th>
					<th style="width: 10%;">Last Name</th>
					<th>Company</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Address</th>
					<th></th>
				</thead>
				<tbody style="color:#404044">
					<tr *ngFor="let contact of contacts; index as i">
						<th scope="row">{{ i + 1 }}</th>
						<td> {{ contact.firstName }} </td>
						<td> {{ contact.lastName }} </td>
						<td>{{ contact.company }}</td>
						<td>{{ contact.email }}</td>
						<td style="width: 15%;">{{ contact.phone }}</td>
						<td>{{ contact.address }}</td>
						<td> <button class="btn btn-primary custom-button" (click)="selectContact(contact)"> Show </button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
